header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.115);
    background-color: white;

}

h1{
    font-size: 41px;
}

a{
    text-decoration: none;
    font-size: 21px;
    color: black;
}

a:hover{
    color: rgb(188, 0, 213);
}

nav ul{
    display: flex;
    gap: 16vw;
    list-style: none;
    text-transform: uppercase;
}

@media screen and (max-width: 805px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
}

